.day {
    /* tab-size: 4;
     */
     display: flex;
     flex-direction: row;
     
     /* margin-left: 40px; */
     /* grid-column: auto; */
}
.classes{
     margin-left: 40px;

}
#next{
     float: right;
     margin-right: 3%;

}
#previous{
     float: left;
     margin-left: 3%;
}
#stats{
     display: grid;
     grid-template-columns: 50% 50%;
     /* grid-template-rows: 50px 50px 50px 50px 50px 50px; */
     grid-template-rows: auto auto auto auto auto auto;

     justify-self: stretch;
     /* text-align: center; */
     margin-left: 20%;
     margin-right: 20%;

}
.percent{
     float:right;
}
#weekNum{
     float: center;
     /* margin-left: 7%; */
     /* display: inline */

}
.ratio{
     color:grey
}

.rules{
     display: grid;
     float: center;
     margin-left: 20%;
     grid-template-columns: 30% 30% 30%;
}
.foot{
     /* display: inline; */
     float: center;
     
     margin-top:1%;
     margin-bottom: 1%;
     margin-left: 7%;
     /* background-color: rgb(190, 182, 182); */
}
#userName{
     float: right;
     margin-right: 5%;
}
footer{
     display: absolute;
     margin-bottom: 0%;
}
.sign-in{
     /* float: flex; */
     /* align-content: center; */
     /* align-items: center; */
     margin: auto 30% 30% 30%;
}